# Files
LICENSE
.gitkeep
mocha.opts
.DS_Store
REVISION

# rc files
.*rc
## ignore files
.*ignore
*.lock
*.log

# project specific paths
.nyc_output/
coverage/
dist-node/
dist-browser/
dist/
tmp/
browsertest.build/
.coverage
.coverage-unit
.editorconfig
.tool-versions

# External files 
api_clients/**/
